@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 254,243,242;
  --background-end-rgb: 42,219,255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      150deg,
      rgb(var(--background-start-rgb)) 50%,
      rgb(var(--background-end-rgb)) 100%
    );
  overflow: hidden
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
